<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://scholarworks.umass.edu/scil/vol5/iss1/7">How Well Do LSTM Language Models Learn Filler-gap Dependencies?</a>.
			</span><br />
			<span class="authors">
				Satoru Ozaki, Dan Yurovsky, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the Society for Computation in Linguistics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.jbe-platform.com/content/journals/10.1075/ltba.21009.mor">East Tusom: A phonetic and phonological sketch of a largely undocumented Tangkhulic language</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen and Jordan Picone.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Linguistics of the Tibeto-Burman Area 44(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2005.05477">Neural Polysynthetic Language Modelling</a>.
			</span><br />
			<span class="authors">
				Lane Schwartz, Francis Tyers, Lori Levin, Christo Kirov, Patrick Littell, Chi-kiu Lo, Emily Prud'hommeaux, Hyunji Hayley Park, Kenneth Steimel, Rebecca Knowles, Jeffrey Micher, Lonny Strunk, Han Liu, Coleman Haley, Katherine J. Zhang, Robbie Jimmerson, Vasilisa Andriyanets, Aldrian Obaja Muis, Naoki Otani, Jong Hyuk Park, and Zhisong Zhang.
			</span><br />
			<span class="venuetype">Technical Report </span><span class="venue" style="font-style:italic;">, Frederick Jelinek Memorial Summer Workshop</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/2020.lt4hala-1.5">Computerized Forward Reconstruction for Analysis in Diachronic Phonology, and Latin to French Reflex Prediction</a>.
			</span><br />
			<span class="authors">
				Clayton Marr and David R. Mortensen.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 1st Workshop on Language Technologies for Historical and Ancient Languages (LT4HALA 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/2020.lrec-1.656">AlloVera: A Multilingual Allophone Database</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen, Xinjian Li, Patrick Littell, Alexis Michaud, Shruti Rijhwani, Antonios Anastasopoulos, Alan W Black, Florian Metze, and Graham Neubig.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 12th Language Resources and Evaluation Conference (LREC 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/2020.scil-1.43">Where New Words Are Born: Distributional Semantic Analysis of Neologisms and Their Semantic Neighborhoods</a>.
			</span><br />
			<span class="authors">
				Maria Ryskina, Ella Rabinovich, Taylor Berg-Kirkpatrick, David Mortensen, and Yulia Tsvetkov.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the Society for Computation in Linguistics 2020 (SCiL 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/abstract/document/9054362">Universal Phone Recognition with a Multilingual Allophone System</a>.
			</span><br />
			<span class="authors">
				Xinjian Li, Siddharth Dalmia, Juncheng Li, Matthew Lee, Patrick Littell, Jiali Yao, Antonios Anastasopoulos, David R. Mortensen, Graham Neubig, Alan W Black, and Florian Metze.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 2020 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ojs.aaai.org/index.php/AAAI/article/view/6341">Towards Zero-shot Learning for Automatic Phonemic Transcription</a>.
			</span><br />
			<span class="authors">
				Xinjian Li, Siddharth Dalmia, David R. Mortensen, Juncheng Li, Alan Black, and Florian Metze.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the Thirty-Fourth AAAI Conference on Artificial Intelligence (AAAI 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.degruyter.com/document/doi/10.1515/9783110401981-014/html">Hmong (Mong Leng)</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen.
			</span><br />
			<span class="venuetype">Chapter in </span><span class="venue" style="font-style:italic;">The Mainland Southeast Asia Linguistic Area</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/D18-1366">Adapting Word Embeddings to New Languages with Morphological and Phonological Subword Representations</a>.
			</span><br />
			<span class="authors">
				Aditi Chaudhary, Chunting Zhou, Lori Levin, Graham Neubig, David R. Mortensen, and Jaime Carbonell.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 2018 Conference on Empirical Methods in Natural Language Processing (EMNLP 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L18-1429">Epitran: Precision G2P for Many Languages</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen, Siddharth Dalmia, and Patrick Littell.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 11th Language Resources and Evaluation Conference (LREC 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L18-1611">Parser combinators for Tigrinya and Oromo morphology</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, Tom McCoy, Na-Rae Han, Shruti Rijhwani, Zaid Sheikh, David Mortensen, Teruko Mitamura, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 11th Language Resources and Evaluation Conference (LREC 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/s10590-017-9205-3">The ARIEL-CMU situation frame detection pipeline for LoReHLT16: a model translation approach</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, Tian Tian, Ruochen Xu, Zaid Sheikh, David Mortensen, Lori Levin, Francis Tyers, Hiroaki Hayashi, Graham Horwood, Steve Sloto, Emily Tagtow, Alan Black, Yiming Yang, Teruko Mitamura, and Eduard Hovy.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Machine Translation 32(1–2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/E17-2002">URIEL and lang2vec: Representing languages as typological, geographical, and phylogenetic vectors</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, David R. Mortensen, Ke Lin, Katherine Kairis, Carlisle Turner, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 15th Conference of the European Chapter of the Association for Computational Linguistics (EACL 2017)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://oxfordre.com/linguistics/view/10.1093/acrefore/9780199384655.001.0001/acrefore-9780199384655-e-341">Hmong-Mien Languages</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen.
			</span><br />
			<span class="venuetype">Chapter in </span><span class="venue" style="font-style:italic;">Oxford Research Encyclopedia of Linguistics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/C16-1095">Named Entity Recognition for Linguistic Rapid Response in Low-Resource Languages: Sorani Kurdish and Tajik</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, Kartik Goyal, David R. Mortensen, Alexa Little, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 26th International Conference on Computational Linguistics (COLING 2016)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/C16-1328">PanPhon: A Resource for Mapping IPA Segments to Articulatory Feature Vectors</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen, Patrick Littell, Akash Bharadwaj, Kartik Goyal, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 26th International Conference on Computational Linguistics (COLING 2016)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/D16-1153">Phonologically Aware Neural Model for Named Entity Recognition in Low Resource Transfer Settings</a>.
			</span><br />
			<span class="authors">
				Akash Bharadwaj, David Mortensen, Chris Dyer, and Jaime Carbonell.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the 2016 Conference on Empirical Methods in Natural Language Processing (EMNLP 2016)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L16-1529">Bridge-Language Capitalization Inference in Western Iranian: Sorani, Kurmanji, Zazaki, and Tajik</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, David R. Mortensen, Kartik Goyal, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue" style="font-style:italic;">Proceedings of the Tenth International Conference on Language Resources and Evaluation (LREC 2016)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
