<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2005.05477">Neural Polysynthetic Language Modelling</a>.
			</span><br />
			<span class="authors">
				Lane Schwartz, Francis Tyers, Lori Levin, Christo Kirov, Patrick Littell, Chi-kiu Lo, Emily Prud'hommeaux, Hyunji Hayley Park, Kenneth Steimel, Rebecca Knowles, Jeffrey Micher, Lonny Strunk, Han Liu, Coleman Haley, Katherine J. Zhang, Robbie Jimerson, Vasilisa Andriyanets, Aldrian Obaja Muis, Naoki Otani, Jong Hyuk Park, and Zhisong Zhang.
			</span><br />
			<span class="venuetype">Technical Report </span><span class="venue">, </span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Where New Words Are Born: Distributional Semantic Analysis of Neologisms and Their Semantic Neighborhoods.
			</span><br />
			<span class="authors">
				Maria Ryskina, Ella Rabinovich, Taylor Berg-Kirkpatrick, David R. Mortensen, and Yulia Tsvetkov.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Society for Computation in Linguistics 3(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Computerized Forward Reconstruction for Analysis in Diachronic Phonology, and Latin to French Reflex Prediction.
			</span><br />
			<span class="authors">
				Clayton Marr and David R. Mortensen.
			</span><br />
			<span class="venuetype"></span><span class="venue">1st Workshop on Language Technologies for Historical and Ancient LAnguages (LT4HALA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				AlloVera: A Multilingual Allophone Database.
			</span><br />
			<span class="authors">
				David R. Mortensen, Xinjian Li, Patrick Littell, Alexis Michaud, Shruti Rijhwani, Antonios Anastasopoulos, Alan W. Black, Florian Metze, and Graham Neubig.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Twelfth International Conference on Language Resources and Evaluation (LREC 2020)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Universal Phone Recognition with a Multilingual Allophone System.
			</span><br />
			<span class="authors">
				Xinjian Li, Siddharth Dalmia, Juncheng Li, Matthew Lee, Patrick Littell, Jiali Yao, Antonios Anastasopoulos, David R. Mortensen, Graham Neubig, Alan W Black, and Florian Metze.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICASSP 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards Zero-shot Learning for Automatic Phonemic Transcription.
			</span><br />
			<span class="authors">
				Xinjian Li, Siddharth Dalmia, David R. Mortensen, Juncheng Li, Alan Black, and Florian Metze.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Thirty-Fourth AAAI Conference on Artificial Intelligence</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.degruyter.com/view/product/433901">Hmong (Mong Leng)</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/D18-1366">Adapting Word Embeddings to New Languages with Morphological and Phonological Subword Representations</a>.
			</span><br />
			<span class="authors">
				Aditi Chaudhary, Chunting Zhou, Lori Levin, Graham Neubig, David R. Mortensen, and Jaime Carbonell.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2018 Conference on Empirical Methods in Natural Language Processing</span>.
			<br />
			<span class="links">
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_chaudhary2018adapting').slideToggle('fast');return false;">abstract</a>]
			</span>
			<div id="abstract_chaudhary2018adapting" class="abstract">
			Much work in Natural Language Processing (NLP) has been for resource-rich languages, making generalization to new, less-resourced languages challenging. We present two approaches for improving generalization to low-resourced languages by adapting continuous word representations using linguistically motivated subword units: phonemes, morphemes and graphemes. Our method requires neither parallel corpora nor bilingual dictionaries and provides a significant gain in performance over previous methods relying on these resources. We demonstrate the effectiveness of our approaches on Named Entity Recognition for four languages, namely Uyghur, Turkish, Bengali and Hindi, of which Uyghur and Bengali are low resource languages, and also perform experiments on Machine Translation. Exploiting subwords with transfer learning gives us a boost of +15.2 NER F1 for Uyghur and +9.7 F1 for Bengali. We also show improvements in the monolingual setting where we achieve (avg.) +3 F1 and (avg.) +1.35 BLEU.
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L18-1429">Epitran: Precision G2P for Many Languages</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen, Siddharth Dalmia, and Patrick Littell.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 11th Language Resources and Evaluation Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L18-1611">Parser combinators for Tigrinya and Oromo morphology</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, Tom McCoy, Na-Rae Han, Shruti Rijhwani, Zaid Sheikh, David Mortensen, Teruko Mitamura, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 11th Language Resources and Evaluation Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The ARIEL-CMU situation frame detection pipeline for LoReHLT16: a model translation approach.
			</span><br />
			<span class="authors">
				Patrick Littell, Tian Tian, Ruochen Xu, Zaid Sheikh, David Mortensen, Lori Levin, Francis Tyers, Hiroaki Hayashi, Graham Horwood, Steve Sloto, Emily Tagtow, Alan Black, Yiming Yang, Teruko Mitamura, and Eduard Hovy.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Translation 32(1--2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
				May
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://oxfordre.com/linguistics/view/10.1093/acrefore/9780199384655.001.0001/acrefore-9780199384655-e-341">Hmong-Mien Languages</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/E17-2002">URIEL and lang2vec: Representing languages as typological, geographical, and phylogenetic vectors</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, David R. Mortensen, Ke Lin, Katherine Kairis, Carlisle Turner, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 15th Conference of the European Chapter of the Association for Computational Linguistics: Volume 2, Short Papers</span>.
			<br />
			<span class="links">
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_littell2017uriel').slideToggle('fast');return false;">abstract</a>]
			</span>
			<div id="abstract_littell2017uriel" class="abstract">
			We introduce the URIEL knowledge base for massively multilingual NLP and thelang2vec utility, which provides information-rich vector identifications oflanguages drawn from typological, geographical, and phylogenetic databases andnormalized to have straightforward and consistent formats, naming, andsemantics. The goal of URIEL and lang2vec is to enable multilingual NLP,especially on less-resourced languages and make possible types of experiments(especially but not exclusively related to NLP tasks) that are otherwisedifficult or impossible due to the sparsity and incommensurability of the datasources. lang2vec vectors have been shown to reduce perplexity in multilinguallanguage modeling, when compared to one-hot language identification vectors.
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/C16-1095">Named Entity Recognition for Linguistic Rapid Response in Low-Resource Languages: Sorani Kurdish and Tajik</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, Kartik Goyal, David R. Mortensen, Alexa Little, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of COLING 2016, the 26th International Conference on Computational Linguistics: Technical Papers</span>.
			<br />
			<span class="links">
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_littell2016named').slideToggle('fast');return false;">abstract</a>]
			</span>
			<div id="abstract_littell2016named" class="abstract">
			This paper describes our construction of named-entity recognition (NER) systems in two Western Iranian languages, Sorani Kurdish and Tajik, as a part of a pilot study of {``}Linguistic Rapid Response{&#39;&#39;} to potential emergency humanitarian relief situations. In the absence of large annotated corpora, parallel corpora, treebanks, bilingual lexica, etc., we found the following to be effective: exploiting distributional regularities in monolingual data, projecting information across closely related languages, and utilizing human linguist judgments. We show promising results on both a four-month exercise in Sorani and a two-day exercise in Tajik, achieved with minimal annotation costs.
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/C16-1328">PanPhon: A Resource for Mapping IPA Segments to Articulatory Feature Vectors</a>.
			</span><br />
			<span class="authors">
				David R. Mortensen, Patrick Littell, Akash Bharadwaj, Kartik Goyal, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of COLING 2016, the 26th International Conference on Computational Linguistics: Technical Papers</span>.
			<br />
			<span class="links">
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_mortensen2016panphon').slideToggle('fast');return false;">abstract</a>]
			</span>
			<div id="abstract_mortensen2016panphon" class="abstract">
			This paper contributes to a growing body of evidence that{---}when coupled with appropriate machine-learning techniques{--}linguistically motivated, information-rich representations can outperform one-hot encodings of linguistic data. In particular, we show that phonological features outperform character-based models. PanPhon is a database relating over 5,000 IPA segments to 21 subsegmental articulatory features. We show that this database boosts performance in various NER-related tasks. Phonologically aware, neural CRF models built on PanPhon features are able to perform better on monolingual Spanish and Turkish NER tasks that character-based models. They have also been shown to work well in transfer models (as between Uzbek and Turkish). PanPhon features also contribute measurably to Orthography-to-IPA conversion tasks.
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/D16-1153">Phonologically Aware Neural Model for Named Entity Recognition in Low Resource Transfer Settings</a>.
			</span><br />
			<span class="authors">
				Akash Bharadwaj, David Mortensen, Chris Dyer, and Jaime Carbonell.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2016 Conference on Empirical Methods in Natural Language Processing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.aclweb.org/anthology/L16-1529">Bridge-Language Capitalization Inference in Western Iranian: Sorani, Kurmanji, Zazaki, and Tajik</a>.
			</span><br />
			<span class="authors">
				Patrick Littell, David R. Mortensen, Kartik Goyal, Chris Dyer, and Lori Levin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Tenth International Conference on Language Resources and Evaluation (LREC 2016)</span>.
			<br />
			<span class="links">
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_littell2016bridge').slideToggle('fast');return false;">abstract</a>]
			</span>
			<div id="abstract_littell2016bridge" class="abstract">
			In Sorani Kurdish, one of the most useful orthographic features in named-entity recognition {--} capitalization {--} is absent, as the language{&#39;}s Perso-Arabic script does not make a distinction between uppercase and lowercase letters. We describe a system for deriving an inferred capitalization value from closely related languages by phonological similarity, and illustrate the system using several related Western Iranian languages.
			</div>
		</td>
	</tr>
</tbody>
</table>
